body {
    background-color:#ffb4a2;
    font-family: cursive;
    text-align: center;
    font-weight: bold;
}

img {
    height: 400px;
    width: 400px;
}
button {
    height: 30px;
    width: 80px;
}